.section-padding{
  position: relative;
}

.section-padding,.container{
  position: relative;
}

.section-bg{
  background-image: url(Img/li-yang-5h_dMuX_7RE-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60%;
}

.section-bg::after{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #5DC6BD;
  opacity: .9;
}

.contact-form{
  padding: 100px 0px;
}

.contact-form input,.contact-form textarea{
  width: 100%;
  padding: 13px;
  border: 1px solid #fff;
  margin-bottom: 15px;
  color: #333;
  border-radius: 5px;
}

input:focus,textarea:focus,button:focus{
  outline: none;
}

.contact-form input:focus{
  border: 1px solid #333;
}

.contact-form input[type=submit]{
  width: auto;
  padding: 15px 38px;
  color: #5DC6BD;
  font-weight: 700;
}

.appointment-text{
margin-left: 100px;
}
.appointment-text h3{
margin: 135px 0px 50px 30px;
}

ul li {
  list-style: none;
  margin: 20px 0px;
}

ul li i{
  margin-right: 10px;
  list-style-position: inside;
}

.btn{
  border: 1px solid #fff;
  background-color: #5DBEBA;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  padding: 10px 40px;
  margin-left: 30px;
  margin-top: 40px;
}