body{
   background-image: url(IMG.jpg);
   background-size: cover;
}
.my-form{
   width: 650px;
   background: rgba(59, 89, 152, .4);
   margin: 100px auto;
   padding: 40px 20px;
   border-radius: 5px;
}
.my-form
label{
   display: block;
   color: white;
   cursor: pointer;
   padding: 5px 0;
   display: block;
   font-size: 20px;
   font-family: tahoma;
}
.my-form input{
   display: block;
   width: 100%;
   font-size: 18px;
  padding: 5px;
  border: 1px solid yellow;
  background: transparent;
  color: white;
  border-radius: 5px;
}
.my-form input[type="submit"]{
   width: 200px;
   margin-top: 10px;
   cursor: pointer;
}
.my-form p{
   color: white;
   font-family: tahoma;
   font-size: 20px;
}
.my-form p a{
   color: yellow;
   font-family: tahoma;
   font-size: 20px;
}
