@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #e0e1e2;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.header {
    background-image: linear-gradient(to right, #9b59b6, #8e44ad);
    color: #fff;
    padding: 20px 15px;
    text-align: center;
    width: 100%;
}

.header h1 {
    margin: 0 0 15px;
}

.header textarea {
    border: 1px solid #eee;
    border-radius: 3px;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    min-height: 70px;
    max-width: 100%;
    width: 500px;
}

.count-container {
    display: block;
    margin-bottom: 20px;
}

.container {
    margin: 20px 10px;
    max-width: 100%;
    width: 700px;
}

.suggestion {
    background-color: #fff;
    padding: 10px;
    display: flex;
}

.suggestion:not(:last-of-type) {
    border-bottom: 1px solid #b1b2b3;
}

.suggestion .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 60px;
    text-align: center;
}

.suggestion .left p {
    margin: 10px 0 0;
}

.suggestion .left .votes {
    display: block;
    font-size: 22px;
}

.vote-btn {
    background-color: transparent;
    border: 1px solid #b1b2b3;
    border-radius: 50%;
    color: #b1b2b3;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    height: 40px;
    width: 40px;
}

.vote-btn.voted {
    border-color: #515253;
    color: #515253;
}

.vote-btn:active {
    transform: scale(0.95);
}

.vote-btn:focus {
    outline: 0;
}

.suggestion .right {
    margin-left: 20px;
}

.suggestion .right strong {
    color: #111;
    font-size: 18px;
}